.contact-card {
  width: 100%;
}

.maps {
  background-image: url('/assets/image/indirizzo.png');
  background-size: cover;
}

.phone {
  background-image: url('/assets/image/telefono.jpg');
  background-size: cover;
}

.mail {
  background-image: url('/assets/image/posta.jpg');
  background-size: cover;
}

.facebook {
  background-image: url('/assets/image/facebook.svg');
  background-size: cover;
}

.linkedin {
  background-image: url('/assets/image/linkedin.webp');
  background-size: cover;
}

.instagram {
  background-image: url('/assets/image/instagram.webp');
  background-size: cover;
}

.tiktok {
  background-image: url('/assets/image/tiktok.jpg');
  background-size: cover;
}