<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="maps"></div>
    <mat-card-title>Indirizzo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Via Madonna delle Carceri, 7 - 62032 Camerino (MC) - Italy
    </p>
    <p>
      <a href="https://maps.google.com/maps?hl=it&gl=it&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x132ddbec953cfc6b:0x1bd8d1111c434551">Apri con Google Maps</a>
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="mail"></div>
    <mat-card-title>Email</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a href="mailto:infocs@unicam.it">infocs&#64;unicam.it</a>
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="phone"></div>
    <mat-card-title>Telefono</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      0737 402579
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="facebook"></div>
    <mat-card-title>Facebook</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a href="https://www.facebook.com/unicamenteinformatica/">Pagina Ufficiale Facebook</a>
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="linkedin"></div>
    <mat-card-title>Linkedin</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a href="https://www.linkedin.com/company/informatica-unicam/">Pagina Ufficiale Linkedin</a>
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="instagram"></div>
    <mat-card-title>Instagram</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a href="https://www.instagram.com/unicamente_informatica/">Pagina Ufficiale Instagram</a>
    </p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="tiktok"></div>
    <mat-card-title>Tik Tok</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a href="https://www.tiktok.com/@informaticaunicam">Pagina Ufficiale Tik Tok</a>
    </p>
  </mat-card-content>
</mat-card>