<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Indirizzo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        VIA MAZZINI, 62100 MACERATA(MC)
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example1-card">
    <mat-card-header>
      <div mat-card-avatar class="example1-header-image"></div>
      <mat-card-title>Telefono</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        07000000000
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example2-card">
    <mat-card-header>
      <div mat-card-avatar class="example2-header-image"></div>
      <mat-card-title>Indirizzo Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        UniCinema.gmmail.it
      </p>
    </mat-card-content>
  </mat-card>