<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Gestisci Film">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Aggiungi Film">
                <form [formGroup]="addFilmForm" (ngSubmit)="addFilm()">
                    <mat-form-field>
                        <mat-label>Film</mat-label>
                        <input matInput type="text" formControlName="film">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Director</mat-label>
                        <input matInput type="text" formControlName="director">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Duration</mat-label>
                        <input matInput type="number" formControlName="duration">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Image</mat-label>
                        <input matInput type="text" formControlName="image">
                    </mat-form-field><br>
                    <button mat-flat-button color="primary" style="float: left;" type="submit"
                        [disabled]="!addFilmForm.valid">Aggiungi Film</button>
                </form>
            </mat-tab>
            <mat-tab label="Modifica Film">
                Modifica Film
            </mat-tab>
            <mat-tab label="Elimina Film">
                <mat-list role="list">
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem" *ngFor="let film of films">
                        {{film.title}}
                        <button mat-flat-button color="warn" (click)="deleteFilm(film.id)">RIMUOVI</button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Gestisci Spettacoli">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="Aggiungi Spettacolo">

                <form [formGroup]="addShowForm" (ngSubmit)="addShow()">
                    <mat-form-field>
                        <mat-label>Data</mat-label>
                        <input matInput type="datetime" formControlName="date">
                        <mat-hint>YYYY-MM-DD HH-MM-SS</mat-hint>
                    </mat-form-field><br>
                    <!-- <mat-form-field>
                        <mat-label>Data Spettacolo</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field><br> -->
                    <mat-form-field>
                        <mat-label>Prezzo</mat-label>
                        <input matInput type="number" formControlName="price">
                    </mat-form-field><br>
                    <!-- <mat-form-field>
                        <mat-label>Sala</mat-label>
                        <mat-select [(value)]="selectedHallId">
                            <mat-option *ngFor="let hall of halls" [value]="hall.id">
                                Sala: {{ hall.number }} - Capacità: {{ hall.capacity }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Film</mat-label>
                        <mat-select [(value)]="selectedFilmId">
                            <mat-option *ngFor="let film of films" [value]="film.id">
                                {{ film.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br> -->
                    <mat-form-field>
                        <mat-label>Sala</mat-label>
                        <input matInput type="number" formControlName="hallId">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Film</mat-label>
                        <input matInput type="number" formControlName="filmId">
                    </mat-form-field><br>
                    <button mat-flat-button color="primary" style="float: left;" type="submit"
                        [disabled]="!addShowForm.valid">Aggiungi Spettacolo</button>
                </form>

            </mat-tab>
            <mat-tab label="Modifica Spettacolo">
                Modifica Spettacolo
            </mat-tab>
            <mat-tab label="Elimina Spettacolo">
                <mat-list role="list">
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem" *ngFor="let show of shows">
                        {{getFilmTitle(show.filmId)}} - {{ show.date | date:'dd/MM/yyyy ore HH:mm' }} - Sala:
                        {{getHallNumber(show.hallId)}}
                        <button mat-flat-button color="warn" (click)="deleteShow(show.id)">RIMUOVI</button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>