<mat-card class="example-card" *ngFor="let film of films">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{film.title}}</mat-card-title>
      <mat-card-subtitle>{{film.director}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{film.image}}>
    <mat-card-content>
      <p></p>
      <p>
        {{film.description}}
        </p>
        <p>
        Durata: {{film.duration}} min.
      </p>
    </mat-card-content>
    <mat-card-actions *ngFor="let show of shows">
        <button *ngIf="show.filmId == film.id" mat-raised-button color="primary" type="submit">Prenotati per {{show.date}}</button>
    </mat-card-actions>
</mat-card>