<mat-toolbar>
  <span>UniCinema</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon"
    (click)="redirectToLogin()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon"
    (click)="redirectToLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="home">Home</mat-list-item>
      <mat-list-item role="listitem" routerLink="shows">Spettacoli</mat-list-item>
      <mat-list-item role="listitem" routerLink="booking">Prenotazione</mat-list-item>
      <mat-list-item role="listitem" routerLink="about">Chi siamo</mat-list-item>
      <mat-list-item role="listitem" routerLink="contactus">Contattaci</mat-list-item>
      <mat-list-item role="listitem" routerLink="profile">Profilo</mat-list-item>
      <mat-list-item role="listitem" routerLink="admin">Admin</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>