<div class="title">
    Ciao <strong>{{user.username | uppercase}}</strong>, ecco le tue prenotazioni:
</div>
<mat-table [dataSource]="bookings" class="mat-elevation-z8">
    <ng-container matColumnDef="FILM">
        <mat-header-cell *matHeaderCellDef> FILM </mat-header-cell>
        <mat-cell *matCellDef="let booking"> {{getFilmTitle(booking.showId)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="HALL">
        <mat-header-cell *matHeaderCellDef> HALL </mat-header-cell>
        <mat-cell *matCellDef="let booking"> {{getHallNumber(booking.showId)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SEATS">
        <mat-header-cell *matHeaderCellDef> SEATS </mat-header-cell>
        <mat-cell *matCellDef="let booking"> {{booking.seats}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PRICE">
        <mat-header-cell *matHeaderCellDef> PRICE </mat-header-cell>
        <mat-cell *matCellDef="let booking"> {{booking.price}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DATE">
        <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
        <mat-cell *matCellDef="let booking"> {{ getShowDate(booking.showId) | date:'dd/MM/yyyy - HH:mm' }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>