<div>
  <h1>Effettua il login!!!</h1>
  <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" formControlName = "username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName = "password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]= "loginForm.invalid">Accedi</button>
    <p>Non hai un account?</p>
    <a routerLink="/register" type="link-danger">Registrati</a>
  </form>
</div>