<div id="div1">
    <div>
        <p>
            8 sale cinematografiche  per un totale di 1920 posti. 
        </p>
        <p>
            Sale di ultima generazione dotate di sistema di proiezione Christie 4K e amplificatori christie vive audio.
        </p>
        <p>
            La sala B in Dolby Atmos è dotata di ben 40 diffusori acustici line array, 14 da 800W installati sul soffitto ,18 da 800W  installati nelle pareti laterali, 4 nella parete in fondo alla sala e gli ultimi 3 sul retro schermo da 2.000W.
        </p>
        <p>
            Sono stati installati 3 sobwoofer restro schermo di 2.550W, ed altri 2 nelle pareti laterali di 4.000W ciascuno, in modo da far vivere agli spettatori un esperienza totalmente immersiva nella storia del film.
        </p>
        <div id="div2">
            <img src="assets/image/salaCinema.jpg" alt="SalaB">
        </div>
        <p>    
            Da un punto di vista tecnico, il Dolby Atmos è un'evoluzione della tecnologia sorround 7.1, ossia composta da 7 canali audio più i lsubwoofer. Il Dolby Atmos nasce sia per coprire altre dimensioni lasciate "scoperte" dalla tecnologia di riproduzione 7.1 (vedi, ad esempio, l'altezza) e da quelle precedenti, sia per migliorare la qualità generale della riproduzione. 
        </p>
        <p>
            Il merito di questa rivoluzione è da accreditare all'introduzione del digitale, che consente di conservare traccia video e traccia audio in un unico file "contenitore" senza alcuna limitazione sul versante della qualità.
        </p>
        <p>  
            Nelle sale cinematografiche Dolby Atmos, oltre ai 7 canali già presenti in precedenza ne vengono aggiunti altri 2 o 4 (si ottiene così un sistema 7.1.2 o 7.1.4) con l'installazione di altri speaker audio sul soffitto. Questa, però, non è l'unica novità di rilievo introdotta con la nuova tecnologia. A cambiare in maniera radicale, infatti, è la gestione stessa della riproduzione audio.
        </p>
        <p>      
            Con il Dolby Atmos viene introdotto il concetto di oggetti musicali: ogni elemento o soggetto presente all'interno di una scena può essere trattato, dal punto di vista sonoro, come un oggetto a se stante e sovrapposto, grazie a una gestione digitale dell'audio, alla colonna sonora del film. 
        </p>     
        <p>    
            Mentre quest'ultima viene gestita da un mixer dedicato alla configurazione "standard" 7.1 del sorround, gli oggetti sono gestiti da un mixer audio Atmos capace di attivare singolarmente ogni singolo canale audio presente in sala.
        </p>   
        <p>
            L'obiettivo di questa nuova gestione è quello di offrire una migliore riproduzione spaziale delle tracce sonore associate agli oggetti o alle persone presenti in scena. Ad esempio, se ci trovassimo in una sala Dolby Atmos e, all'interno della scena, comparisse un aereo che attraversa l'inquadratura in diagonale da destra a sinistra, il mixer audio attiverebbe i vari canali audio in modo da far vivere agli spettatori la sensazione di un aereo che arriva alle loro spalle, per poi passargli sopra la testa e sparire dietro l'orizzonte.
        </p>   
        <p>  
            Insomma, esattamente come se si trovassero all'interno della scena del film.
        </p>
         
        <p>
            Ogni sala è dotata di impianto per Video conferenze, convegni, eventi, congressi, ogni sala è dotata di shremo impianto audio, illuminazione, comode poltrene adatte anche per le lezioni scolastiche.
        </p>
        <p>
            All'interno della struttura sono presenti 2 bar, 1 ludoteca per bambini da 4 a 12 anni, una sala giochi per ragazzi ad 13 a 24 anni dove organizzare feste private con la possibilità di cenare e ascoltare musica diffusa d aun nostro dj.
        </p>
        <p>
            La struttura è fornita da un ampio parcheggio privato, e facilmente raggiungile da tutta la provincia di Macerata.
        </p>
    </div>
</div>
